language: node_js
node_js:
  - "6"
  - "0.12"
  - "0.10"

before_script:
    - npm install -g gulp
    - npm install -g gulp-cli
    - npm install --quiet
    - npm i -g typings
    - typings install
    - npm install -g mocha
    - npm install -g istanbul
    - npm install coveralls
script:
    - gulp
    - istanbul cover ./node_modules/mocha/bin/_mocha --report
